@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2015, 08:49:36
    Author     : Quentin
*/
/* Gobal variiables*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:04:33
*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 14 mars 2015, 12:00:54
*/
.text-justCentered {
  text-align: justify;
  margin: 0 auto;
  text-align-last: center;
  -moz-text-align-last: center;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 mars 2015, 11:22:52
    Author     : lol2
*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 14 mars 2015, 11:21:53
*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:04:33
*/
.grayFilter {
  filter: url('../js/filters.svg#grayscale');
  filter: gray;
  -webkit-backface-visibility: hidden;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
}
.disableFilter {
  filter: none;
  /* Applies to FF + IE */
  -webkit-filter: grayscale(0);
}
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:00:38
*/
/*
Partie de la page

*/
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  /* padding-top: 10px; */
}
header {
  display: block;
  width: 100%;
  z-index: 100;
  top: 90px;
  -webkit-box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
}
header #wrapper {
  width: 57%;
  margin: 0 21.5%;
  padding: 0;
  min-width: 0;
}
header #wrapper #logo {
  float: left;
  margin: 20px 0px 11px 0px;
  width: 200px;
}
header #wrapper #logo img {
  width: 191px;
  height: 59px;
}
header #wrapper nav {
  margin: 25px 0px 0px 0px;
  float: right;
  width: auto;
}
header #wrapper nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
}
header #wrapper nav ul li {
  float: left;
  margin: 0 20px;
  text-align: center;
  display: block;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0px 2px #000000;
}
header #wrapper nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
header #wrapper nav ul li a:hover ~ div.menu {
  border-bottom: #ef7920 solid 2px;
}
#slider .carousel-caption {
  position: absolute;
  right: 35%;
  bottom: 190px;
  margin-left: 3.2%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
#slider .carousel-caption .btn {
  text-shadow: none;
}
#slider .carousel-indicators {
  position: absolute;
  bottom: 155px;
  z-index: 15;
  width: 23%;
  margin-left: 23.6%;
  padding-left: 0;
  text-align: left;
  list-style: none;
}
#slider .carousel-indicators li {
  display: inline-block;
  width: 25px;
  height: 3px;
  margin-right: 8px;
  border: none;
  background-color: #666565;
  text-indent: -999px;
  cursor: pointer;
}
#slider .carousel-indicators .active {
  background-color: #ef7920;
}
#slider #buttons {
  height: auto;
}
#slider #buttons button {
  width: 25px;
  height: 3px;
  margin-right: 8px;
  border: none;
  background-color: #666565;
}
#slider #buttons button:over {
  background-color: #ef7920;
}
#slider h1 {
  width: 350px;
  margin: 0 auto;
}
#slider #imgSlider {
  height: 680px;
  background: url(../img/Web/Slider/Slider_1920x544_Gardening.jpg) no-repeat;
  background-size: 100% auto;
}
#home {
  padding-bottom: 30px;
}
#home div.traitHBlack {
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  #home div.traitHBlack + div {
    width: 810px;
    text-align: center;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #home div.traitHBlack + div {
    width: 670px;
    text-align: justify;
    margin: 0 auto;
    text-align-last: center;
    -moz-text-align-last: center;
  }
}
@media only screen and (max-width: 767px) {
  #home div.traitHBlack + div {
    width: 300px;
    text-align: justify;
    margin: 0 auto;
    text-align-last: center;
    -moz-text-align-last: center;
  }
}
#team {
  padding-bottom: 30px;
  margin-left: 0px;
  background-color: #f8f8f8;
  -webkit-box-shadow: inset 0px 1px 15px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 15px 0 rgba(0, 0, 0, 0.3);
}
#team div.traitHBlack {
  margin-bottom: 35px;
}
#team div[class^="col-"] p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #ef7920;
  margin-top: 20px;
}
#team div.container {
  margin-top: 50px;
}
#team div.traitLight + p {
  margin-top: 5px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #363636;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #team div[class^="col-"]:last-child {
    position: relative;
    left: 188px;
  }
}
@media only screen and (min-width: 992px) {
  #team div.traitHBlack + p {
    margin: 0 auto;
    width: 810px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #team div.traitHBlack + p {
    width: 670px;
    text-align: justify;
    margin: 0 auto;
    text-align-last: center;
    -moz-text-align-last: center;
  }
}
@media only screen and (max-width: 767px) {
  #team div.traitHBlack + p {
    width: 300px;
    text-align: justify;
    margin: 0 auto;
    text-align-last: center;
    -moz-text-align-last: center;
  }
}
/*
Partie what we do

*/
#do {
  padding-bottom: 50px;
}
#do div.traitHBlack + p {
  margin-top: 35px;
  margin-bottom: 45px;
}
#do div[class^="col-"] p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #ef7920;
  margin-top: 20px;
}
#do div[class^="col-"] div.circular {
  filter: url('../js/filters.svg#grayscale');
  filter: gray;
  -webkit-backface-visibility: hidden;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
}
#do div[class^="col-"] div.circular:hover {
  filter: none;
  /* Applies to FF + IE */
  -webkit-filter: grayscale(0);
  cursor: pointer;
}
/*
Partie contact us

*/
#contact {
  /*
    Partie Titre
    
    */
  /*
    Partie formulaire
    
    */
}
#contact div.row div.traitH + p {
  margin-top: 35px;
  margin-bottom: 45px;
}
#contact div.row #coordonnée p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px 2px #000000;
}
#contact div.row #coordonnée #data {
  line-height: 185%;
}
#contact div.row #coordonnée img {
  margin-top: 15px;
  width: 242px;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #contact div.row #coordonnée div[class^="col-"] {
    width: 265px;
    display: inline-block;
  }
  #contact div.row #coordonnée div.row #blocInfos {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}
#contact #formulaire {
  padding-bottom: 50px;
  padding-top: 45px;
}
@media only screen and (min-width: 992px) {
  #contact #formulaire aside {
    margin-top: 30px;
    padding-left: 75px;
  }
}
@media only screen and (min-width: 768px) {
  #contact #formulaire input {
    width: 257px;
  }
  #contact #formulaire textarea {
    width: 541px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #contact #formulaire {
    padding-bottom: 50px;
    padding-left: 57px;
  }
  #contact #formulaire article {
    text-align: center;
  }
  #contact #formulaire aside {
    margin-top: 40px;
    padding-left: 40px;
  }
  #contact #formulaire aside div.row p {
    text-align: left;
  }
  #contact #formulaire aside div.row img {
    margin-top: 0px;
  }
  #contact #formulaire aside div.row div[class^="col-"]:first-child {
    margin-top: 35px;
  }
}
@media only screen and (max-width: 767px) {
  #contact #formulaire {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #contact #formulaire article {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
  }
  #contact #formulaire input,
  #contact #formulaire textarea {
    float: none;
  }
  #contact #formulaire aside {
    margin-top: 50px;
  }
  #contact #formulaire aside div[class^="col-"]:first-child {
    text-align: center;
  }
}
#contact #formulaire form input {
  float: none;
  height: 54px;
  padding-left: 20px;
}
#contact #formulaire form textarea {
  float: none;
  resize: none;
  height: 244px;
  padding-top: 20px;
  padding-left: 20px;
}
@media only screen and (min-width: 992px) {
  #contact #formulaire form input[type=submit] {
    position: relative;
    right: 284px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #contact #formulaire form input[type=submit] {
    position: relative;
    right: 142px;
  }
}
/*
Bannière de pied de page

*/
@media only screen and (max-width: 767px) {
  footer #logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  footer div.row div[class^="col-"] {
    text-align: center;
  }
  footer div.row #logoFoot {
    padding-right: 0px;
    margin-bottom: 25px;
  }
  footer div.row #excl {
    margin-left: 0px;
    margin-top: 30px;
  }
}
footer #imgFoot {
  -webkit-box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  border-bottom: #262626 solid 1px;
  border-top: #403f3f solid 1px;
}
@media only screen and (min-width: 992px) {
  footer #imgFoot #imgFoot {
    height: 254px;
  }
}
#footBas {
  -webkit-box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.5);
}
#logoFoot {
  margin-bottom: 10px;
  margin-top: 17px;
  width: 286px;
  height: auto;
  padding-right: 50px;
}
#excl {
  margin-bottom: 10px;
  margin-top: 40px;
  margin-left: 60px;
  width: 234px;
  height: auto;
}
#text-footer {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  color: #898989;
  margin-bottom: 15px;
  margin-top: 10px;
}
.NoPad {
  padding-left: 0px;
  padding-right: 0px;
}
/*
Google Map

*/
.containerM {
  border-top: #23527c solid 1px;
}
@media only screen and (min-width: 992px) {
  .containerM {
    height: 427px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .containerM {
    height: 221px;
  }
}
@media only screen and (max-width: 767px) {
  .containerM {
    height: 221px;
  }
}
#mymap {
  width: 100%;
  height: 100%;
}
/*
Titre et Texte

*/
h1 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 42px;
  color: #ffffff;
  text-shadow: 0px 2px 8px #000000;
}
h2 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 30px;
  color: #363636;
  text-transform: capitalize;
  margin-top: 35px;
  margin-bottom: 30px;
}
p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #363636;
}
.titreService {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #ef7920;
  text-transform: capitalize;
}
.sider .gras {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.sider p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
/*
Couleur et forme

*/
.orange {
  color: #ef7920;
}
.bg-black {
  background-color: #403f3f;
  background: -webkit-gradient(linear, left top, left bottom, from(#403f3f), to(#262626));
  background: -webkit-linear-gradient(top, #403f3f, #262626);
  background: -moz-linear-gradient(top, #403f3f, #262626);
  background: -ms-linear-gradient(top, #403f3f, #262626);
  background: -o-linear-gradient(top, #403f3f, #262626);
}
.white {
  color: #ffffff;
}
.circular {
  width: 240px;
  height: 240px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
}
/*
Traits

*/
div.traitV {
  position: relative;
  top: 25px;
  display: inline-block;
  border-right: rgba(255, 255, 255, 0.4) solid 2px;
  height: 65px;
}
div.traitH {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-bottom: #ffffff solid 2px;
  width: 70px;
  height: 2px;
}
div.traitHBlack {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-bottom: #363636 solid 2px;
  width: 70px;
  height: 2px;
}
div.traitLight {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-bottom: #c9c9c9 solid 2px;
  width: 110px;
  height: 2px;
  float: none;
  margin-top: 50px;
}
.menu {
  -webkit-box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.5);
}
/*
Boutons et formulaires

*/
input,
textArea,
input[type=submit] {
  background-color: #403f3f;
  background: -webkit-gradient(linear, left top, left bottom, from(#403f3f), to(#262626));
  background: -webkit-linear-gradient(top, #403f3f, #262626);
  background: -moz-linear-gradient(top, #403f3f, #262626);
  background: -ms-linear-gradient(top, #403f3f, #262626);
  background: -o-linear-gradient(top, #403f3f, #262626);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px #666565 solid;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px 2px #000000;
}
input[type=submit] {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  color: #ef7920;
  -webkit-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.5);
}
input[type=submit]:hover {
  background-color: #403f3f;
  background: -webkit-gradient(linear, left top, left bottom, from(#403f3f), to(#403f3f));
  background: -webkit-linear-gradient(top, #403f3f, #403f3f);
  background: -moz-linear-gradient(top, #403f3f, #403f3f);
  background: -ms-linear-gradient(top, #403f3f, #403f3f);
  background: -o-linear-gradient(top, #403f3f, #403f3f);
}
input[type=submit]:active {
  -webkit-box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  top: 5px;
}
input,
textArea {
  -webkit-box-shadow: inset 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
}
input:focus,
textArea:focus {
  border: 1px #ffffff solid;
}
:focus {
  outline: none;
}
/*
Alignement

*/
.ecartement {
  margin-bottom: 20px;
}
.col-center {
  margin: 0 auto;
  float: none;
}
.hight {
  margin-top: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hight {
    margin-top: -15px;
    height: 325px;
  }
}
input.input-space,
textarea.input-space {
  margin-top: 30px;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */