@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2015, 08:49:36
    Author     : Quentin
*/
/* Gobal variiables*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:04:33
*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 14 mars 2015, 12:00:54
*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 14 mars 2015, 11:21:53
*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:04:33
*/
/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:00:38
*/
/*
Partie de la page

*/
#contact div.row div.traitH + p {
  margin-top: 35px;
  margin-bottom: 45px;
}
#contact div.row form div.row:not(#firstLigne) {
  margin-top: 30px;
}
#contact div.row form input {
  float: none;
  width: 257px;
  height: 54px;
}
#contact div.row form textarea {
  float: none;
  resize: none;
  width: 541px;
  height: 244px;
}
#contact div.row #coordonnée p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px 2px #000000;
}
#contact div.row #coordonnée #data {
  line-height: 185%;
}
#contact div.row #coordonnée img {
  margin-top: 15px;
}
footer div.row #imgFoot {
  -webkit-box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  border-bottom: #262626 solid 1px;
  border-top: #403f3f solid 1px;
}
@media only screen and (min-width: 1200px) {
  footer div.row #imgFoot {
    height: 254px;
  }
}
#footBas {
  -webkit-box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.5);
}
#logoFoot {
  margin-bottom: 10px;
  margin-top: 17px;
  width: 286px;
  height: auto;
  padding-right: 50px;
}
#excl {
  margin-bottom: 10px;
  margin-top: 40px;
  margin-left: 60px;
  width: 234px;
  height: auto;
}
#text-footer {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  color: #898989;
  margin-bottom: 15px;
  margin-top: 10px;
}
.NoPad {
  padding-left: 0px;
  padding-right: 0px;
}
/*
Google Map

*/
.containerM {
  border-top: #23527c solid 1px;
}
@media only screen and (min-width: 1200px) {
  .containerM {
    height: 427px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .containerM {
    height: 267px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .containerM {
    height: 221px;
  }
}
@media only screen and (max-width: 767px) {
  .containerM {
    height: 171px;
  }
}
#mymap {
  width: 100%;
  height: 100%;
}
/*
Titre et Texte

*/
h1 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 42px;
  color: #ffffff;
}
h2 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 30px;
  color: #363636;
  text-transform: capitalize;
  margin-top: 35px;
}
p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #363636;
}
.titreService {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #ef7920;
  text-transform: capitalize;
}
.sider .gras {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.sider p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
/*
Couleur et forme

*/
.orange {
  color: #ef7920;
}
.bg-black {
  background-color: #403f3f;
  background: -webkit-gradient(linear, left top, left bottom, from(#403f3f), to(#262626));
  background: -webkit-linear-gradient(top, #403f3f, #262626);
  background: -moz-linear-gradient(top, #403f3f, #262626);
  background: -ms-linear-gradient(top, #403f3f, #262626);
  background: -o-linear-gradient(top, #403f3f, #262626);
}
.white {
  color: #ffffff;
}
div.traitV {
  position: relative;
  top: 25px;
  display: inline-block;
  border-right: rgba(255, 255, 255, 0.4) solid 2px;
  height: 65px;
}
div.traitH {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-bottom: #ffffff solid 2px;
  width: 70px;
  height: 2px;
}
/*# sourceMappingURL=styles.css.map */