/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:00:38
*/

/*
Partie de la page

*/
header{

}
Section{
    
}
footer{
    div.row{
        img{
            @media @desktop{
                height: 254px;
                width: 1920px;
            }
            height:auto;
        }
        #footmoy{
            #excl{
                width: 234px;
                height: auto;
            }
            #logoFoot{
                width: 286px;
                height: auto;
            }
        }
        #bas{
            height: 50px;
        }

    }
}

#text-footer{
    .light(@footer-size, @color-footer);
}

.NoPad{
    padding-left: 0px;
    padding-right: 0px;
}


/*
Google Map

*/
.containerM{
    border-top: #23527c solid 1px;
    @media @desktop{
        height: 427px; 
    }
    @media @laptop{
        height: 267px; 
    }
    @media @tablet{
        height: 221px; 
    }
    @media @phone{
        height: 171px; 
    }
}

#mymap{
    width: 100%;
    height: 100%;
}


/*
Titre et Texte

*/
h1{
    .semiBold(@title-size, @white);
}

h2{
    .regular(@titreCategorie-size, @color-caract-black);
    text-transform: capitalize;
}
p{
    .light(@paragraph-size, @color-caract-black);
}

.titreService{
    .regular(@titreServices-size, @orange);
    text-transform: capitalize;
}

.sider{
    .gras{
        .bold(@text-size, @white);
    }
    p{
        .regular(@text-size, @white);
    }
}

/*
Couleur

*/

.orange{
    color: @orange;
}

.bg-black{
    .gradient(@light-black, @deep-black);
}
