/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:00:38
*/

/*
Partie de la page

*/

header{

}


/*
Partie what we do

*/
#do{
    padding-bottom: 50px;
    div.traitHBlack+p{
        margin-top: 35px;
        margin-bottom: 45px;
    }

    div[class^="col-"] p{
        .regular(@paragraph-size, @orange);
        margin-top: 20px;
    }

    div[class^="col-"]{
        div.circular:hover{
            .grayFilter(0%); 
        }
    }
}


/*
Partie contact us

*/
#contact{

    /*
    Partie Titre
    
    */
    div.row{
        div.traitH+p{
            margin-top: 35px;
            margin-bottom: 45px;
        }

        #coordonnée{
            p{
                .regular(@text-size, @white);
                text-shadow: 0px 2px #000000;
            }
            #data{
                line-height: 185%;
            }

            img{
                margin-top: 15px;
                width: 242px;
                height: auto;
            }

            @media @tablet{
                div[class^="col-"]{
                    width: 300px;
                    display: inline-block;
                }
                div.row{
                    #blocInfos{
                        width: 600px;
                        margin:0 auto;
                        text-align: center;
                    } 
                }
            }

        }        
    }  


    /*
    Partie formulaire
    
    */
    #formulaire{
        padding-bottom: 50px;
        padding-top: 45px;

        @media @tab-desk{
            aside{
                padding-left: 40px;
            }
            input{
                width: 257px;
            }
            textarea{
                width: 541px;
            }
        }

        @media @tablet{

            padding-bottom: 40px;
            padding-top: 35px;

            article{
                text-align: center;
            }

            aside{

                margin-top: 40px;

                div.row{
                    p{
                        text-align: left;
                    }

                    img{
                        margin-top: 0px;
                    }
                    div[class^="col-"]:first-child{
                        margin-top: 35px;
                    }
                }

            }
        }

        @media @phone{

            padding-top: 30px;
            padding-bottom: 30px;

            article{
                text-align: center;
                padding-left: 70px;
                padding-right: 70px;
            }
            input{
                float:none;
            }
            textarea{
                float:none;
            }

            aside{
                margin-top: 50px;
                div[class^="col-"]:first-child{
                    text-align: center;
                }
            }
        }

        form{

            div.row:not(#firstLigne){
                margin-top: 30px;
            }
            input{
                float: none;
                height: 54px;
            }
            textarea{
                float: none;
                resize: none;
                height: 244px;
            }
            @media @desktop{
                input[type=submit]{
                    position: relative;
                    right: 284px;
                }
            }
            @media @tablet{
                input[type=submit]{
                    position: relative;
                    right: 142px;
                }


            }
        }
    }
}


/*
Bannière de pied de page

*/
footer{
    @media @phone{
        #logo{
            padding-top: 15px;
            padding-bottom: 15px;
        }

        div.row{
            div[class^="col-"]{
                text-align: center;
            }
            #logoFoot{
                padding-right: 0px;
                margin-bottom: 25px;
            }
            #excl{
                margin-left: 0px;
                margin-top: 30px;
            }
        }
    }

    #imgFoot{
        .drop-shadow(0px, 2px, 15px, 0, 0.5);
        height:auto;
        border-bottom: @deep-black solid 1px;
        border-top: @light-black solid 1px;
        @media @desktop{
            #imgFoot{
                height: 254px;
            }
        }
    }
}


#footBas{
    .drop-shadow(0px, -2px, 15px, 0, 0.5);
}

#logoFoot{
    margin-bottom: 10px;
    margin-top: 17px;
    width: 286px;
    height: auto;
    padding-right: 50px;
}

#excl{
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 60px;
    width: 234px;
    height: auto;
}

#text-footer{
    .light(@footer-size, @color-footer);
    margin-bottom: 15px;
    margin-top: 10px;
}

.NoPad{
    padding-left: 0px;
    padding-right: 0px;
}


/*
Google Map

*/
.containerM{
    border-top: #23527c solid 1px;
    @media @desktop{
        height: 427px; 
    }
    @media @tablet{
        height: 221px; 
    }
    @media @phone{
        height: 221px; 
    }
}

#mymap{
    width: 100%;
    height: 100%;
}


/*
Titre et Texte

*/
h1{
    .semiBold(@title-size, @white);
}

h2{
    .regular(@titreCategorie-size, @color-caract-black);
    text-transform: capitalize;
    margin-top: 35px;
    margin-bottom: 30px;
}
p{
    .light(@paragraph-size, @color-caract-black);
}

.titreService{
    .regular(@titreServices-size, @orange);
    text-transform: capitalize;
}

.sider{
    .gras{
        .bold(@text-size, @white);
    }
    p{
        .regular(@text-size, @white);
    }
}

/*
Couleur et forme

*/

.orange{
    color: @orange;
}

.bg-black{
    .gradient(@light-black, @deep-black);
}

.white{
    color: @white;
}

.circular{
    .grayFilter(100%);
    .circular(240px);
}
/*
Traits

*/

div.traitV{
    position: relative;
    top: 25px;
    display: inline-block;
    border-right: rgba(255,255,255,0.4) solid 2px;
    height: 65px;
}
div.traitH{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: @white solid 2px;
    width:70px;
    height: 2px;
}
div.traitHBlack{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: @color-caract-black solid 2px;
    width:70px;
    height: 2px;
}

/*
Boutons et formulaires

*/

input,textArea,input[type=submit]{
    .gradient(@light-black, @deep-black);
    .border-radius(1px);
    border: 1px @grey solid;
    .regular(@text-size, @white);
    text-shadow: 0px 2px #000000;
}

input[type=submit]{
    .bold(16px, @orange);
    .drop-shadow(0px, 4px, 15px, 0, 0.5);
}

input,textArea{
    .inner-shadow(0px, 2px, 15px, 0, 0.5);
}


/*
Alignement

*/

.ecartement{
    margin-bottom: 20px;
}

.col-center{
    margin : 0 auto;
    float:none;
}

.hight{
    margin-top: 15px;
    @media @tablet{
        margin-top: -15px;
        height: 325px;
    }
}