/*
Ce fichier est la propriété de Getra Luxembourg.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:00:38
*/

/*
Partie de la page

*/
.container-fluid{
    padding-right: 0px; 
    padding-left: 0px; 
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

header{
    position:fixed;
    width: 100%;
    height: 90px;
    z-index: 100;
    top: 0px;
    .drop-shadow(0px, 2px, 15px, 0, 0.5);

    #wrapper{
        width: 74%;
        height: 100%;
        margin: 0 auto;
        padding: 0;


        #logo{
            float: left;
            margin: 20px 0px 11px 0px;
            z-index:112;
            width: 191px;
            height:59px;
            @media @phone{
                width: 147px;
                height: 45px;
                margin: 32px 0px 11px 0px;
            }
            img{
                width: 100%;
                height: 100%; 

            }
        }

        nav{
            margin: 25px 0px 0px 0px;
            float: right;
            width: auto;

            #menu{
                padding: 0;
                margin: 0;
                list-style: none;
                border: 0;

                li{
                    float: left;
                    margin: 0 20px;
                    text-align: center;
                    display: block;

                    .semiBold(@menu-size, @white);
                    text-shadow: 0px 2px #000000; 
                    a{
                        text-decoration: none;
                        color: @white;
                    }
                    a.active+div.traitLight{
                        border-bottom: @orange solid 2px;
                    }
                }
            }

            #menu2{
                position:relative;
                button{
                    position: relative;
                    bottom: 13px;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    background: none;
                    border: none;
                    outline: none;
                    .transition(all 0.7s ease);
                    svg{
                        fill:@white;
                        .transition(all 0.7s ease);
                        &:hover, &:active{
                            fill:@orange;
                        }
                    }
                }
                button.active{
                    svg{
                        fill:@orange;
                    }
                }
            }
        }
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 0 auto;
    .semiBold(@menu-size, @white);
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: @deep-black 1px solid;
    border-left: @deep-black 1px solid;
    border-right: @deep-black 1px solid;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, .5);
    box-shadow: 0 6px 8px rgba(0, 0, 0, .5);
    li{
        float: left;
        width: 100%;
        height: 50px;
        text-align: left;
        display: block;
        padding-top: 7px;
        border-top: @deep-black solid 1px;
        border-bottom: @grey solid 2px;
        .semiBold(@menu-size, @white);
        text-shadow: 0px 2px #000000; 
        a{
            text-decoration: none;
            color: @white;
            &:hover ,&:focus{
                text-decoration: none;
                outline:none;
            }
        }
    }
    li.active{
        background: @grey !important;
        border-bottom: @orange solid 2px !important;
    }
    @media @tablet{
        left: -524px;
        width: 590px;
    }
    @media @phone{
        left: -191px;
        width: 255px;
    }
}
.shadow {
    -webkit-filter: drop-shadow(0px 2px 0px rgba(0,0,0,1));
    filter: drop-shadow(0px 2px 0px rgba(0,0,0,1));
}

html, body {
    height:100%;
    margin:0;
    padding:0;
}

#gap{
    display: block;
    height: 90px;
    visibility: hidden;
}

@media @phone{
    .carousel-inner{
        overflow: visible;
    }
}

.carousel{
    @media @phone{
        height: 400px;
    }
    @media only screen and (max-width: 600px){
        height: 350px;
    }
    @media only screen and (max-width: 450px){
        height: 300px;
    }
}

.carousel-caption {
    @media @large-desktop{
        bottom: 286px !important;
        left: 15%;
    }
    @media @desktop{
        bottom: 195px;
        left: 15%;
    }

    @media only screen and (min-width: 992px) and (max-width: 1200px){
        bottom: 145px;
        left: 15%;
    }

    @media @tablet{
        bottom: 90px;
        left: 15%;
    }
    @media @phone{
        width: 345px;
        position: relative;
        bottom: -15px;
        margin-left:auto;
        margin-right:auto;
        h1{
            .semiBold(29.5px, @color-caract-black);
            text-align: center;
            text-shadow: 0px 0px #000000;
        }

    }
}

.carousel-indicators {
    @media @large-desktop{
        bottom: 245px !important;
    }
    @media @desktop{
        bottom: 150px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px){
        bottom: 100px;
    }

    @media @tablet{
        bottom: 45px;
    }

    @media @phone{
        left: 44%;
        bottom: -25px;
    }
    @media only screen and (max-width: 600px){
        left: 43%;
        bottom: -10px;
    }
    @media only screen and (max-width: 450px){
        left: 40%;
        bottom: -5%;
    }
}
.carousel-indicators li {
    width: 25px;
    height: 4px;
    border: none !important;
    background-color: @grey;
    text-indent: -999px;
    cursor: pointer;
}
.carousel-indicators .active {
    background-color: @orange;
}

#home{
    padding-bottom: 30px;

    div.traitHBlack{
        margin-bottom: 30px;
    }

    div.traitHBlack+div{

        /*
        @media @large-desktop{
            width: 1380px !important;
            text-align: center;
            margin:0 auto;
        }
        */

        @media @desktop{
            width: 76%;
            text-align: center;
            margin:0 auto;
        }

        @media @tablet{
            width: 670px;
            .text-justCentered;
        }

        @media @phone{
            width: 80%;;
            .text-justCentered;
        }
    }
}

#team{
    /*
    div.container{
        @media @large-desktop{
            width:1815px;
        }
    }
    */
    padding-bottom: 30px;
    margin-left: 0px;
    background-color: @color-bg;
    .inner-shadow(0px, 1px, 15px, 0, 0.3);

    div.traitHBlack{
        margin-bottom: 35px;
    }

    div[class^="col-"] p{
        .regular(@paragraph-size, @orange);
        margin-top: 20px;
    }

    div.container{
        margin-top: 50px;
    }

    div.traitLight+p{
        margin-top: 5px;
        .regular(16px,@color-caract-black);
    }


    @media @tablet{

        div[class^="col-"]:last-child{
            position: relative;
            left: 188px;
        }
    }

    div.traitHBlack+p{
        @media @desktop{
            margin: 0 auto;
            width: 80%;
            text-align: center;
        }

        @media @tablet{
            width: 670px;
            .text-justCentered;
        }

        @media @phone{
            width: 80%;
            .text-justCentered;
        }
    }
}

/*
Partie what we do

*/
#do{
    /*
    div.container{
        @media @large-desktop{
            width:1815px;
        }
    }
    */

    padding-bottom: 50px;
    div.traitHBlack+p{
        margin-top: 35px;
        margin-bottom: 45px;
    }

    div[class^="col-"] p{
        .regular(@paragraph-size, @orange);
        margin-top: 20px;
    }

    div[class^="col-"]{
        div.row.service.active{
            div.col-xs-12.circular.col-center{
                .disableFilter;
                &+p.text-center{
                    color:@orange;
                }
            }
        }

        div.circular{
            .grayFilter;
            .transition(all 0.7s ease);
            cursor: pointer;

            &+p{
                cursor: pointer;
                &:hover{
                    color:@orange;
                }
            }
            &:hover{
                .disableFilter;
                &+p{
                    color:@orange;
                }
            }
        }        
        p{
            color:@color-caract-black;
            .transition(all 0.7s ease);
        }
    }

}


/*
Partie contact us

*/
#contact{

    /*
    Partie Titre
    
    */
    div.row{
        div.traitH+p{
            margin-top: 35px;
            margin-bottom: 45px;
        }

        #coordonnée{
            p{
                .regular(@text-size, @white);
                text-shadow: 0px 2px #000000;
            }
            #data{
                line-height: 185%;
            }

            img{
                margin-top: 15px;
                width: 242px;
                height: auto;
            }

            @media @tablet{
                div[class^="col-"]{
                    width: 265px;
                    display: inline-block;
                }
                div.row{
                    #blocInfos{
                        width: 600px;
                        margin:0 auto;
                        text-align: center;
                    } 
                }
            }

        }        
    }  

    /*
    Partie formulaire
    
    */
    #formulaire{
        /*
        .container{
            @media @large-desktop{
                width:1815px;
            }
        }
        
        */

        padding-bottom: 50px;
        padding-top: 45px;
        /*
        @media @large-desktop{
            aside{
                position: relative;
                left: 96px;
                padding-left:0px !important;
            }       
            article{
                position: relative;
                right: 50px;

                input{
                    width: 395px;
                }
                textarea{
                    width: 817px;
                }
                input[type=submit]{
                    right:422px !important;
                }
            }
        }
        */

        @media @desktop{
            aside{
                margin-top: 30px;
                padding-left: 75px;
            }            
        }


        @media @tab-desk{
            input{
                width: 257px;
            }
            textarea{
                width: 541px;
            }
        }

        @media @tablet{

            padding-bottom: 50px;
            padding-left: 57px;

            article{
                text-align: center;
            }

            aside{
                margin-top: 40px;
                padding-left:65px;

                div.row{
                    p{
                        text-align: left;
                    }

                    img{
                        margin-top: 0px;
                    }
                    div[class^="col-"]:first-child{
                        margin-top: 35px;
                    }
                }

            }
        }

        @media @phone{

            padding-top: 30px;
            padding-bottom: 30px;

            article{
                text-align: center;
                padding-left: 40px;
                padding-right: 40px;
            }
            input ,textarea{
                float:none;
            }

            aside{
                margin-top: 50px;
                div[class^="col-"]:first-child{
                    text-align: center;
                }
            }
        }

        form{

            input{
                float: none;
                height: 54px;
                padding-left: 20px;
            }
            textarea{
                float: none;
                resize: none;
                height: 244px;
                padding-top: 20px;
                padding-left: 20px;
            }
            @media @desktop{
                input[type=submit]{
                    position: relative;
                    right: 284px;
                }
            }
            @media @tablet{
                input[type=submit]{
                    position: relative;
                    right: 142px;
                }


            }
        }
    }
}


/*
Bannière de pied de page

*/
footer{
    @media @phone{
        #logo{
            padding-top: 15px;
            padding-bottom: 15px;
        }

        div.row{
            div[class^="col-"]{
                text-align: center;
            }
            #logoFoot{
                padding-right: 0px;
                margin-bottom: 25px;
            }
            #excl{
                margin-left: 0px;
                margin-top: 30px;
            }
        }
    }

    #imgFoot{
        .drop-shadow(0px, 2px, 15px, 0, 0.5);
        height:auto;
        border-bottom: @deep-black solid 1px;
        border-top: @light-black solid 1px;
        @media @desktop{
            #imgFoot{
                height: 254px;
            }
        }
    }
}


#footBas{
    .drop-shadow(0px, -2px, 15px, 0, 0.5);
}

#logoFoot{
    margin-bottom: 10px;
    margin-top: 17px;
    width: 286px;
    height: auto;
    padding-right: 50px;
}

#excl{
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 60px;
    width: 234px;
    height: auto;
}

#text-footer{
    .light(@footer-size, @color-footer);
    margin-bottom: 15px;
    margin-top: 10px;
}

.NoPad{
    padding-left: 0px;
    padding-right: 0px;
}


/*
Google Map

*/
.containerM{
    border-top: #23527c solid 1px;
    @media @desktop{
        height: 427px; 
    }
    @media @tablet{
        height: 221px; 
    }
    @media @phone{
        height: 221px; 
    }
}

#mymap{
    width: 100%;
    height: 100%;
}


/*
Titre et Texte

*/
h1{
    .semiBold(@title-size, @white);
    text-shadow: 0px 2px 8px #000000;
}

h2{
    .regular(@titreCategorie-size, @color-caract-black);
    text-transform: capitalize;
    margin-top: 35px;
    margin-bottom: 30px;
}
p{
    .light(@paragraph-size, @color-caract-black);
}

.titreService{
    .regular(@titreServices-size, @orange);
    text-transform: capitalize;
}

.sider{
    .gras{
        .bold(@text-size, @white);
    }
    p{
        .regular(@text-size, @white);
    }
}

/*
Couleur et forme

*/

.orange{
    color: @orange;
}
.menu-active{
    border-bottom-color: @orange;
}

.bg-black{
    .gradient(@light-black, @deep-black);
}

.white{
    color: @white;
}

.circular{
    .circular(240px);
}
/*
Traits

*/

div.traitV{
    position: relative;
    top: 25px;
    display: inline-block;
    border-right: rgba(255,255,255,0.4) solid 2px;
    height: 65px;
}
div.traitH{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: @white solid 2px;
    width:70px;
    height: 2px;
}
div.traitHBlack{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: @color-caract-black solid 2px;
    width:70px;
    height: 2px;
}

div.traitLight{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: @light-grey solid 2px;
    width:110px;
    height: 2px;
    float: none;
    margin-top: 50px;
}

.menu{
    .drop-shadow(0px, 2px, 1px, 0, 0.5);
}

div.col-xs-12.circular.col-center.service-active{
    .disableFilter !important;
}

/*
Boutons et formulaires

*/

input,textArea,input[type=submit]{
    .gradient(@light-black, @deep-black);
    .border-radius(1px);
    border: 1px @grey solid;
    .regular(@text-size, @white);
    text-shadow: 0px 2px #000000;
}

input[type=submit]{
    .bold(16px, @orange);
    .drop-shadow(0px, 4px, 15px, 0, 0.5);
}
input[type=submit]:hover{
    .gradient(@light-black, @light-black);
}
input[type=submit]:active{
    .drop-shadow(0px, 0px, 0px, 0, 0.5);
    position: relative;
    top: 5px;
}

input,textArea{
    .inner-shadow(0px, 2px, 15px, 0, 0.5);
}

input:focus,textArea:focus{
    border: 1px @white solid;
}

:focus{
    outline: none;
}


/*
Alignement

*/

.ecartement{
    margin-bottom: 20px;
}

.col-center{
    margin : 0 auto;
    float:none;
}

.hight{

    @media @desktop{
        margin-top: 35px;
    }

    @media @tablet{
        margin-top: 15px;
        height: 325px;
    }

    @media @phone{
        margin-top: 35px;
    }
}

input.input-space,textarea.input-space{
    margin-top: 30px;                
}

.fixed{
    position: fixed;
}

.block{
    position: block;
}
