/* Gobal variiables*/

//Colors
@orange: #ef7920;
@white: #ffffff;
@deep-black: #262626;
@light-black: #403f3f;

@color-bg: #f8f8f8;
@color-nav-inact: #929292;
@color-nav-act: #ef7920;

@color-caract-black: #363636;

//Size

@elipse-size: 242px;

@titreServices-size: 16px;
@paragraph-size: 16px;
@titreCategorie-size: 30px;
@text-size: 14px;
@titre-size: 42px;

